<!DOCTYPE html>
<html lang="en">
<head>
	<title>Tesla SSO - Sign In</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/symbol.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css2/util.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css2/main.css') }}">
<!--===============================================================================================-->

	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Leckerli+One&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
	<script src="{{ url_for('static', filename='js/uikit.js') }}"></script>
</head>
<body>
	
			

	<div class="flex-w flex-str size1  bg0">
		<div class="flex-w flex-col-sb size1 bg0 p-l-20 p-t-15 p-b-10 p-r-20 respon1">
			<div class="wrappiclogo sticky-header">
				<a href="https://www.tesla.com/">
					<img src="{{ url_for('static', filename='images/icons/Logo.png') }}" alt="IMG">
				</a>
			</div>		

	<div class="uk-width-1-2@m uk-padding-large uk-flex uk-flex-center uk-light" data-uk-height-viewport>
		<div class="uk-background-cover uk-background-norepeat uk-background-blend-overlay uk-background-overlay 
			uk-border-rounded-large uk-width-1-1 uk-height-medium uk-flex uk-flex-middle uk-flex-center" 
			style="background-image: url(images/login-semi-interiordark.jpg);">
			<div class="uk-padding-large">
			<div class="uk-text-center">
				<h2 class="uk-letter-spacing-small">Welcome Back</h2>
			</div>
			<div class="uk-margin-top uk-margin-medium-bottom uk-text-center">
				<p>You have signed in successfuly, your credentials are safe and shall not be used without authorization. <br> Let's start driving.</p>
			</div>
			<!--div class="uk-width-1-1 uk-text-center">
				<a href="sign-in.html" class="uk-button uk-button-primary uk-button-large">Sign In</a>
			</div-->
			</div>
		</div>
		</div>
  </div>
</div>

</body>

</html>

