{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Welcome, {{ name }}!
</h1>

<hr>

<table class="table">
  <thead>
    <tr>
      <th><abbr title="Numbering">#</abbr></th>
      <th>Name</th>
      <th>Password</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th><abbr title="Numbering">#</abbr></th>
      <th>Name</th>
      <th>Password</th>
    </tr>
  </tfoot>
  <tbody>

    {% for participant in participants %}
      <tr>
        <td>1</td>
        <td>{{ participant.name }}</td>
        <td>{{ participant.password }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}